<aside class="d-flex flex-column bg-dark col-md-2 position-sticky top-0 vh-100">
    <div class="text-center mb-3">
        <h2 class="text-light">Diginet</h2>
    </div>
    <nav class="flex-grow-1">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link btn btn-dark text-left mb-2" href="{{url_for('user.dashboard')}}">
                    <i class="fas fa-home mr-2"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-dark text-left mb-2"" href=" {{ url_for('user.records')}}">
                    <i class="fa-solid fa-database"></i> Records
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-dark text-left mb-2"" href=" {{ url_for('graph.metrics_graph')}}">
                    <i class="fas fa-chart-line mr-2"></i> Graphs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-dark text-left mb-2" href=" #section4">
                    <i class="fas fa-users mr-2"></i> Account
                </a>
            </li>
        </ul>
    </nav>
    <div class="p-3">
        <a class="nav-link btn btn-danger text-left p-2" href="/logout">
            <i class="fas fa-sign-out-alt mr-2"></i> Logout
        </a>
    </div>
</aside>