<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', (event) => {
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('server_response', function (msg) {
                document.getElementById('myHeading').innerHTML = msg.data;
            });
        });
    </script>
</head>

<body>
    <h1 id="myHeading">Waiting for update...</h1>

</html>