<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>
</head>

<body>
    <input id="ipAddress" type="text" placeholder="Enter IP Address">
    <button type="button" id="submitButton">Submit</button>

    <script>
        const submitButton = document.getElementById("submitButton")
        const ipAddress = document.getElementById("ipAddress")
        submitButton.addEventListener("click", () => {
            const data = ipAddress.value
            console.log(data)
            fetch("/set-ip", {
                method: 'POST',
                headers: {
                    'Content-Type': "application/json"
                },
                body: JSON.stringify({ "ipAddress": data })
            }).then(response => {
                if (response.ok) {
                    window.location.href = response.url
                }
            })
        })
    </script>

</body>

</html>